 *{
    margin: 0;
    border: 0;
}
.root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main{
   margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightcyan;
    height: 700px;;
}
.calculator{
    width: 500px;
     display: flex; 
     justify-content: center; 
     align-items: center; 
    flex-wrap: wrap;
    
}

.numbers{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:none;
}

.num,
.opp,
.result
{
    border: 2px solid black;
    margin: 2px;
    height: 80px;
    width: 150px;
    border-radius: 50%;
    font-size:35px;
    color: black;
    background-color:white;
}
.operators{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: none;
} 
.result{
    background-color: yellow;
}
.resultdiv{
    height: 130px;
    width: 400px;
    margin-bottom:60px;
    margin-top: 60px;
    font-size:35px;
    border: none;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

