 *{
    margin: 0;
    border: 0;
}
.root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main{
    margin-top:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightcyan;
    height: 600px;;
}
.calculator{
    width: 500px;
     display: flex; 
     justify-content: center; 
     align-items: center; 
    flex-wrap: wrap;
}

.numbers{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:none;
}

.num,.opp,.result{
    height: 80px;
    width: 150px;
    border-radius: 50%;
    font-size:35px;
    border: none;
    color:black;
}
.operators{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: none;
} 
.result{
    background-color: yellow;
}
.resultdiv{
    height: 150px;
    width: 400px;
    margin-bottom: 90px;
    font-size:35px;
    border: none;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

